<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yongjiatan.car">

    <uses-permission android:name="android.permission.CAMERA" />
    "
    <uses-permission android:name="android.permission.VIBRATE" />
    "
    <uses-permission android:name="android.permission.INTERNET" />
    "
    <application
        android:allowBackup="true"
        android:icon="@drawable/parking_icon_298x300"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationPage"
            android:label="Registration" />
        <activity
            android:name=".Homepage"
            android:label="HomePage" />
        <activity
            android:name=".Reservation"
            android:label="Parking Tutorial" />
        <activity android:name=".ParkingStructure" />
        <activity
            android:name=".Checkout"
            android:label="Checkout" />
        <activity
            android:name=".EditProfile"
            android:label="Update Profile" />
        <activity
            android:name=".SelectParkingSpace"
            android:label="Parking Space" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".GenerateQRCode"
            android:label="Check-In" />
        <activity
            android:name=".SelectParkingSpaceSecond"
            android:label="Parking Space" />
        <activity android:name=".PaymentPage" />
        <activity android:name=".AdminHomepage" />
        <activity android:name=".AdminView" />
        <activity android:name=".ManageUser" />
        <activity android:name=".AdminModifyStatus" />

        <service android:name=".IService" />

        <activity android:name=".Qrcodetutorial" />
        <activity android:name=".TermAndCondition"></activity>
    </application>

</manifest>